.grid {
	display: flex;
	flex-wrap: wrap;
	/* h/w of 560 as we want a 28 x 28 grid of squares */
	width: 560px;
	height: 560px;
	border: solid black;
}

.grid div {
	width: 20px;
	height: 20px;
}

.pac-dot {
	background-color: rgba(0, 78, 0, 0.5);
	border: 5px solid white;
	box-sizing: border-box;
	border-radius: 10px;
}

.wall {
	background-color: lightgrey;
}

.power-pellet {
/*	background-color: orange;
	border-radius: 10px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.power-pellet:before {
  content: "🌭";
}

.pac-man {
	background-color: transparent;
	border-radius: 10px;
}

.blinky {
	background-color: red;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}

.blinky:before {
  content: "🎥";
}

.pinky {
	background-color: pink;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}

.pinky:before {
  content: "🎥";
}

.inky {
	background-color: cyan;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}

.inky:before {
  content: "🎥";
}

.clyde {
	background-color: orange;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px;
}

.clyde:before {
  content: "🎥";
}

.scared-ghost {
	background-color: aquamarine;
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scared-ghost:before {
  content: "🎥";
}












